<nav class="navbar navbar-default">
  {{#link-to 'interviewees' class='navbar-brand'}}Winterviews{{/link-to}}
  <ul class="nav navbar-nav">
    <li>{{#link-to 'interviewees'}}Interviewees{{/link-to}}</li>
    <li>{{#link-to 'exercises'}}Exercises{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
